.nowTime {
  position: relative;
}

.nowTime::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 80px;
  border-radius: 3px;
  background-color: #e1a21e;
  /* center horizontally */
  align-self: center;
}

.nowTime::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 800px; /* calculate height */
  background-color: #e1a21e;
  /* center horizontally */
  align-self: center;
}

.channel-row {
  height: 80px;
  display: flex;
  box-sizing: border-box;
}

.channel-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.channel-header {
  height: 80px;
  border: 1px solid #393939;
  background-color: #212322;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.guide-header {
  height: 80px;
  border: 1px solid #393939;
  width:  var(--day-length);
  background-color: #212322;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.channel-time-row {
  height: 80px;
  border: 1px solid #393939;
  background-color: #212322;
  box-sizing: border-box;
}

.guide-time-row {
  height: 80px;
  border: 1px solid #393939;
  width:  var(--day-length);
  background-color: #212322;
  box-sizing: border-box;
}

.timeDay {
  min-width:  var(--day-length);
}

.time120 {
  width:  calc(var(--unit-time-length) * 120);
}

.time90 {
  width:  calc(var(--unit-time-length) * 90);
}

.time60 {
  width:  var(--hour-length);
}

.timeDefault {
  width:  var(--hour-length);
}

.time50 {
  width:  calc(var(--unit-time-length) * 50);
}

.time45 {
  width:  calc(var(--unit-time-length) * 45);
}

.time40 {
  width:  calc(var(--unit-time-length) * 40);
}

.time35 {
  width:  calc(var(--unit-time-length) * 35);
}

.time30 {
  width:  calc(var(--unit-time-length) * 30);
}

.time25 {
  width:  calc(var(--unit-time-length) * 25);
}

.time20 {
  width:  calc(var(--unit-time-length) * 20);
}

.time15 {
  width:  calc(var(--unit-time-length) * 15);
}

.time10 {
  width:  calc(var(--unit-time-length) * 10);
}

.time5 {
  width:  calc(var(--unit-time-length) * 5);
}

.time1 {
  width:  calc(var(--unit-time-length));
}
